---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        // { text: 'Porfolio', href: '#porfolio' },
        // { text: 'Blog', href: '#blog' },
        // { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Ming Hao"
    tagline="Personal Web Blog"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Results-driven Data Scientist Manager with 8+ years of experience. 
      <br /> Expert in machine learning and deep learning techniques, with track records of
      <br /> delivering end-to-end projects in lead generation, customer segmentation, and personalized recommendations.

      <!-- I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree from
      New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into captivating
      realities. -->
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://i.ibb.co/yfpNwvs/a-barely-lit-small-wooden-campsite-under.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Data Scientist, Manager <br /> <span class="font-normal">FWD Group, Singapore </span> <br /> <span class="text-sm font-normal">Aug 2021 - Present</span>',
        description: `Spearheaded AI/ML initiatives and data transformation across Digital, Agency, and Bank Partnership. <br /> focusing on cross-sell and acquisition, on end-to-end machine learning projects`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Data Scientist <br /> <span class="font-normal">ComfortDelgroGroup Zig, Singapore</span> <br /> <span class="text-sm font-normal">Mar 2021 - Jul 2021</span>',
        description: `Led team members in leveraging AWS platform <br /> (SageMaker, Glue, Athena, Lambda) for data and AI projects, with focus on DataOps and MLOps services.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Medical Physics <br /> <span class="font-normal"> University of Sydney </span> <br /> <span class="text-sm font-normal">2013 - 2014</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Science (Double Major Physics and Chemistry) <br /> <span class="font-normal">Australian National University </span> <br /> <span class="text-sm font-normal">2009 - 2012</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through data."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Python',
        // description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Spark',
        description: 'Skilled with big data technologies such as spark, polars, duckDB.',
      },
      {
        title: 'Cloud Platform',
        description: 'Experienced in AWS, Azure, Databricks platform.',
      },
      {
        title: 'Data Pipeline',
        description: 'Skilled in using deploying data pipeline via airflow, luigi, azure data factory.',
      },
      {
        title: 'Machine Learning',
        description: 'Adept in sckit-learn, xgboost.',
      },
      {
        title: 'Optimization',
        // description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'LLM',
        // description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Visualization',
        // description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        // description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
